div {
    padding-left: 1000px
}

body {
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}



#summer {
    background-color: green;
    height: 50px;
    width: 70px;
    border-radius:8px;
}

#spring {
    background-color: rgb(230, 230, 16);
    height: 50px;
    width: 70px;
    border-radius:8px;
}

#autumn {
    background-color: lime;
    height: 50px;
    width: 70px;
    border-radius:8px;
}

#winter {
    background-color: white;
    height: 50px;
    width: 70px;
    border-radius:8px;
}

#explosion {
    background-color: red;
    color: yellow;
    height: 50px;
    width: 70px;
    border-radius:8px;
}

#No-Disease {
    background-color: red;
    color: yellow;
    height: 50px;
    width: 70px;
    border-radius:8px;
}

#Disease {
    background-color: red;
    color: yellow;
    height: 50px;
    width: 70px;
    border-radius:8px;
}

#grass {
    background-color: red;
    border-radius:8px;
    color: yellow;
    height: 50px;
    width: 70px
}

#p1 {
    font-size: 30px
}

#lighting {
    background-color: red;
    color: yellow;
    height: 50px;
    width: 70px;
    border-radius:8px;
}